header {
  background-color: navy;
  color: white;
  width: 100%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.weather {
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
}

.city-list {
    font-family: 'Roboto Condensed', sans-serif;
}

.button {
  margin-left: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}